.conteudo-ig {
    height: 1570px;
    background: var(--cor-0);
}

.conteudo-ig h2 {
    margin-bottom: 40px;
    margin-top: 74px;
    text-align: center;
}

.conteudo-ig ul {
    display: flex;
gap: 40px;
padding: 0 20px;
overflow: auto;
}


.conteudo-ig img {
    object-fit: cover;
}



@media (max-width:1550px){
    .conteudo-ig img {
    max-width: 400px;  
    }
}

@media (max-width:1300px){
    .conteudo-ig img {
    max-width: 320px; 
    }

    .post-ig ul {
        overflow: scroll;
    

    }
}